mixin add-content-slider(mainInfo, content, title)
	div.content
		div.all-news
			each tmp, i in mainInfo
				div.news
					a(href='#slide-#{i+1}', onclick='api2.setNextPanel(#{i});api2.updateClass($(this))')
						+main-page-info-block(tmp.title, tmp.miniContent)
			p!= title
			each tmp, i in news
				div.news
					a(href='#slide-#{i+mainInfo.size()+1}', onclick='api2.setNextPanel(#{i+mainInfo.size()});api2.updateClass($(this))')
						+main-page-info-block(tmp.title, tmp.miniContent)
		div.main-info
			div#main-info-slider.liquid-slider
				each tmp in mainInfo
					div
						p!= tmp.description

				each tmp in news
					div
						p!= tmp.description
	script.
		$('#main-info-slider').liquidSlider({
			//- slideEaseDuration: 9999,
			//continuous: false,
			minHeight:400,
			dynamicArrows:false,
			slideEaseFunction: false,
			dynamicArrowsGraphical:false
		//	autoHeight:false,
		//	minHeight:300
		});
		var api2 = $.data( $('#main-info-slider')[0], 'liquidSlider')