link(rel='stylesheet', href="/css/tabs.css", type='text/css', media='screen')
if (root == true)
	script(src='/js/tabs-admin.js')
else
	script(src='/js/tabs.js')
script.
	$(document).ready(function(){
		$(".tabs").lightTabs();
	});

mixin add-title-part(date, title, content, id)
	if (id != null)
		div.tab-title.tab-title-style(idDB="#{id}")
			+add-title-container(date, title, content)
	else
		div.tab-title.tab-title-style
			+add-title-container(date, title, content)

mixin add-title-container(date, title, content)
	div.tab-title-container
		p.tab-title-date.tab-title-text= date
		p.tab-title-title.tab-title-text= title
		p.tab-title-content.tab-title-text= content

mixin add-title-simple-part(title)
	div.tab-title.tab-title-style
		div.tab-title-container
			p.tab-title-title-simple-part.tab-title-text= title


mixin add-gallery-link(id, title, imgLinks)
	a.tab-title-container(href="/photo-from-albums?albumId=#{id}", target="_blank")
		p.tab-title-date.tab-title-text
		p.tab-title-title.tab-title-text= title
		div.tab-title-content.tab-title-text
			each tmp in imgLinks
				img.tab-title-gallery-img(src="#{tmp}")
//- IG
mixin add-reviews-link(title, miniTitle, imgLinks, text)
	a.tab-title-container(href="/graduates", target="_blank")
		p.tab-title-title.tab-title-text= title
		p.tab-title-date.tab-title-text= miniTitle
		div.img-reviews
			img(style="width:100px; max-width:100%;", src="#{imgLinks}")
		div.text-reviews
			div.IG-tab-title-content= text
//- IG
mixin add-partner-link(imgLinks)
	a.tab-title-container(href="/partners", target="_blank")
		div.partner
			img(style="max-width:100%; width:190px;", src="#{imgLinks}")
	
mixin add-title-gallery-tab(album, photos, maxOfMainPhotos)
	div.tab-title.tab-title-style(idDB="#{album.id}")
		+add-title-gallery-container(album.title, photos, maxOfMainPhotos)


mixin add-title-gallery-container(title, photos, maxOfMainPhotos)
	div.tab-title-container
		p.tab-title-title.tab-title-text= title
		if (maxOfMainPhotos != null && maxOfMainPhotos > 0)
			- wasMain = 0;
			each photo in photos
				if (photo.isHead() && wasMain < maxOfMainPhotos)
					- wasMain = wasMain + 1;
					img.tab-title-gallery-img(lowsrc="/img/gallery-page-gallery-photo/mini/#{photo.link}", src="/img/gallery-page-gallery-photo/mini/#{photo.link}")

mixin add-content-gallery(photos)
	div.tab-content
		each photo in photos
			+add-content-photo-gallery(photo.link)

mixin add-content-photo-gallery(imgLink)
	img.tab-content-photo-img(lowsrc="/img/gallery-page-gallery-photo/mini/#{imgLink}", src="/img/gallery-page-gallery-photo/mini/#{imgLink}")

mixin add-reviews-tab(title, miniTitle, imgLinks, text)
	div.tab-title.tab-title-style
		div.tab-title-container
			p.tab-title-title.tab-title-text= title
			p.tab-title-date.tab-title-text= miniTitle
			div.img-reviews
				img(style="width:100px; max-width:100%;", src="#{imgLinks}")
			div.text-reviews
				div.IG-tab-title-content= text

mixin add-content-part(content)
	div.tab-content!= content

mixin add-tabs(content)
	div.tabs
		ul.tab-container.tab-container-titles
			each tmp in content
				li.tab-title.tab-title-style
					+add-title-part(tmp.creatingDate, tmp.title, tmp.miniContent)
		div.tab-container.tab-container-content
			each tmp in content
				+add-content-part(tmp.description)
