mixin editForm(id, title, content, miniContent, type)
	form.container(method="post")
		script(src="/ckeditor/ckeditor.js")
		link(rel='stylesheet', href='/css/edit_content.css', type='text/css', media='screen')
		if (id>0)
			input.edit-content-text-edit(name="id", readonly="readonly",  value="#{id}", style="display:none;")
		input.edit-content-text-edit(name="title", required, maxlength="255", placeholder="Заголовок", value="#{title}")
		input.edit-content-text-edit(name="type", required, maxlength="255", placeholder="Тип записи", value="#{type}")
		input.edit-content-text-edit(name="mini-content", required, placeholder="Текст для предпросмотра новости", value="#{miniContent}")
		input.edit-content-text-edit(name="image-link", required, placeholder="Ссылка на заглавную картинку записи", value="#{imageLink}")
		input(type="checkbox", name="publish", checked="#{publish}")= Показывать запись
		textarea#content-editor(name="content", rows="10", cols="80")!= content
		script.
			CKEDITOR.replace('content');
	a(href="/upload", target="_blank") Окно загрузки файлов