mixin enrollee-page-add-reviews(name, placeOfWork, link, citation, wide)
	div.history-container
		h3 #{name}
		h5 #{placeOfWork}
		img(src=link, width=wide, alt=name)
		.caption
			p 
			div.citation_style
				h4 #{citation}
			p
